<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="pinit-div-fade">

</div>

<div id="pinit-div-popover" style="font-family:'Open Sans', sans-serif; width: 410px; height: 535px; border-radius: 10px; -moz-border-radius: 10px; border: #808080 solid 2px; padding: 10px 20px; color: #808080;">
    <div style="float: left; width: 100%; padding-bottom: 10px; margin-bottom: 25px;">
        <div style="float: right">
        <span style="font-size: 14pt">Add to My Ask at&nbsp;</span>
        <span style="font-size: 20pt; border-bottom: 3px #330033 solid;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ConsumerVoice&nbsp;&nbsp;</span>
        </div>
    </div>
    <div style="float: left; width: 45%">
        <img id="pinit-product-img" src="http://images.bestbuy.com/BestBuy_US/en_US/images/abn/2013/global/ghp/12/20131217/cat_nav_cellphones.gif" style="width: 175px;">
    </div>
    <div style="float: left; width: 55%; padding-top: 10px;">
        <div style="float: right; font-size: 11pt;">
            <label>Enter Retail Price $</label>
            <input id="pinit-retail-price" type="text" style="width: 50px; padding: 5px;">
        </div>
        <div style="float: right; font-size: 12pt;">
            <label>Enter Retail Price $</label>
            <input id="pinit-ask-price" type="text" style="width: 50px; padding: 5px;">
        </div>
        <div style="float: left; font-size: 12pt; width: 100%; margin-top: 20px;">
            <label>Select Category:</label>
        </div>
        <div style="float: left; font-size: 12pt; width: 100%;">
            <select id="pinit-product-category"  style="width: 100%; padding: 5px;">
                <option></option>
                <option value="1">Computers</option>
                <option value="2">Cameras</option>
                <option value="3">Appliances</option>
                <option value="4">Home Theater</option>
                <option value="5">Garden</option>
                <option value="6">Gaming</option>
                <option value="7">Sporting Goods</option>
                <option value="8">Music and Videos</option>
            </select>
        </div>
    </div>
    <div style="float: left; width: 100%; margin-top: 10px;">
        Description:
        <textarea id="pinit-product-description" style="width: 90%; margin-left:5%; height: 50px; margin-top: 10px;"></textarea>
    </div>
    <div style="float: left; width: 100%; font-size: 10pt; margin-top: 20px;">
       <label style="width: 70%; margin-left:15%;">Comment: Eg. Color</label>
        <textarea id="pinit-comments" style="width: 70%; margin-left:15%; height: 50px;"></textarea>
    </div>
    <div style="float: left; width: 100%; font-size: 12px; margin-top: 20px;">
        <div style="float: left">
            <label>Receive like product offers</label>
            <input id="pinit-like-offers" type="checkbox">
        </div>
        <div style="float: right">
            <button id="pinit-btn-ask" style="background: rgb(38, 184, 255); color: #ffffff;padding: 4px 21px;font-size: 10pt;border: lightgray solid 1px;border-radius: 5px; -moz-border-radius: 5px;">ASK!</button>
            <button id="pinit-bth-close" style="background: rgb(123, 141, 150); color: #ffffff;padding: 4px 21px;font-size: 10pt;border: lightgray solid 1px;border-radius: 5px; -moz-border-radius: 5px;">Close</button>
        </div>
    </div>
</div>
</body>
</html>